.hero {
  width: 100%;
  min-height: 100vh;   
  display: flex;
  align-items: center;
  padding: 0 150px;
  box-sizing: border-box;
  margin-top: -50px;
}

.hero-content {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  max-width: 1600px;
  gap: 40px;
}

.header {
  position: relative;     
  max-width: 800px;         
}

.bagel-fat-one-regular {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.name {
    color: rgb(243, 243, 216);
    font-size: 2.5em;
    font-family: "Bagel Fat One";
    text-shadow: -4px 8px 0 rgba(36, 30, 30, 0.158);

}

.strawberry {
    color: rgb(122, 118, 78);
    font-size: 2.5em;
    font-family: "Bagel Fat One";
    // text-shadow: -4px 6px 0 rgba(36, 30, 30, 0.158);
    margin-top: -35px;
}

.aboutme {
    max-width: 620px;
    font-size: 1.5em;
    font-family: 'Bagel Fat One';
    color: rgb(243, 243, 216);
}

.aboutme p {
    padding-bottom: 24px;
    border-bottom: 5px solid rgb(243, 243, 216);
}

.selfie {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 10px beige solid;
  background-image: url("/assets/grad.jpg");
  background-size: cover;
  background-position: center;
}


.menu ul {
    display: flex;
    flex-direction: column;
    gap: 16px; 
    padding: 0;
    margin: 32px 0 0 0; 
    align-items: flex-start; 
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(243, 243, 216);
    font-family: 'Bagel Fat One';
    font-size: 2em;
    text-transform: uppercase;
    position: relative;
    display: block; 
    width: max-content;
}

.menu ul li a::after {
    content: '';
    height: 5px;
    width: 0%;
    left: 0;
    bottom: -4px;
    background: rgb(243, 243, 216);
    position: absolute;
    transition: width 0.5s ease;
}

.menu ul li a:hover::after {
    width: 100%;
}

.flower {
    width: 100px;
    height: 100px;
    background-image: url("/assets/Flower.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(-4px 8px 0px rgba(36, 30, 30, 0.158));
    animation: spin 8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.title_wrapper {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.highlight {
    display: inline-block;
    background-color: none;
    color: rgb(122, 118, 78);
    animation: float 5s ease-in-out infinite;
    animation-delay: var(--delay);
}

.contact-section {
  padding: 0px 0px;
}

.contact-container {
  max-width: 600px; 
  margin-left: 1350px;
  margin-right: auto; 
  margin-top: -200px;
}

@keyframes float {

    0%,
    80%,
    100% {
        transform: translateY(0);
    }

    90% {
        transform: translateY(-10px);
    }
}
@media only screen and (max-width: 975px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .selfie {
    width: 300px;
    height: 300px;
  }
}