<section class="hero">
  <div class="hero-content">
    <!-- Left side -->
    <div class="header">
      <div class="title_wrapper">
        <div class="name">
          <h1>Angela Nguyen</h1>
        </div>
        <div class="flower"></div>
      </div>

      <div class="strawberry">Full Stack Engineer</div>

      <div class="aboutme">
        <p>
          Hello :D I am a full stack developer, specializing in
          <span class="highlight" style="--delay: 0s">Angular</span>,
          <span class="highlight" style="--delay: 0.2s">Java</span>,
          and <span class="highlight" style="--delay: 0.4s">Node.js</span>.
        </p>
      </div>

      <div class="menu">
        <ul>
          <li><a routerLink="/projects">Projects</a></li>
          <li><a href="/assets/Resume_ANGELA.pdf">Resume</a></li>
        </ul>
      </div>
    </div>

    <!-- Right side -->
    <div class="selfie"></div>
  </div>
</section>
<section class="contact-section" #contactSection>
  <div class="contact-container">
    <app-contact></app-contact>
  </div>
</section>
